header {
    text-align: center;
    font-size: larger;
    padding: 40px;
    background: #1a1a1a;
    color: white;
}

body {
    margin: 0;
    font-family:'Calibri';
    font-size: large;
    background: #e4e4e4;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    line-height: 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

.section {
    padding-top: 100px;
    padding-bottom: 10px;
    max-width: 900px;
    margin: auto;
}

/* Text Edits */

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    padding-top: 0px;
}

h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}

h5 {
    text-align: center;
    padding-top: -50px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

h6 {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}

p {
    font-size: 19px;
    padding-top: 20px;
    line-height: 35px;
}

.p1 {
    padding-top: 30px;
    font-size: 16px;
    line-height: 35px;
}

.p2 {
    padding-top: 360px;
    font-size: 16px;
    line-height: 35px;
}

.p3 {
    padding-top: 40px;
    font-size: 16px;
    line-height: 35px;
}

.p4 {
    padding-top: 450px;
    font-size: 16px;
    line-height: 35px;
}

.p5 {
    padding-top: 30px;
    font-size: 16px;
    line-height: 35px;
}

.p6 {
    padding-top: 560px;
    font-size: 16px;
    line-height: 35px;
}

/* top bar with pages */

nav {
    background: #376081;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* sidebar with links to works */

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  background-color: #376081;
  border: #1a1a1a solid 5px;
  padding-top: 60px;
}

.sidenav a {
  padding: 5px 10px 5px 15px;
  text-decoration: none;
  font-size: 23px;
  padding-bottom: 70px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  text-decoration-line: underline;
}

/* picture format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}

.gallery-item {
  position: relative;
  width: calc(50% - 20px);
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* background when pic is open */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.modal-content {
  position: relative;
  width: 70%;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  overflow: hidden;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {transform: scale(0.6);}
  to {transform: scale(1);}
}

.modal.show {
  display: flex;
  opacity: 1;
}

/* Close button */

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

/* picture edits */

.pic1 {
  position:absolute;
  top: 10px;
  left: 100px;
  transition: transform 0.5s ease;
}

.pic1:hover {
  transform: scale(1.05);
}

/* video edits */

.video1 {
  position: absolute;
  top: -255px;
  left: 450px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.video2 {
  position: absolute;
  top: -5px;
  left: 185px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.video3 {
  position: absolute;
  top: -251px;
  left: 450px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.videoContainer {
    position: relative;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1a1a1a;
    color: white;
    margin-top: 40px;
}